.activity-card {
  margin-top: 10px;
}
.input-search-col {
  text-align: right;
}
.title {
  font-size: 20px;
}
.font-weight-500 {
  font-weight: 500;
}
.timestamp {
  font-size: 12px;
}
.timeline {
  margin-top: 20px;
}
.date {
  margin-bottom: 15px;
  font-weight: 500;
  color: #a6a5a5;
}
