.title {
    font-size: 18px;
}
.text-align-right {
    text-align: right;
}
.button-header {
    margin-left: 10px;
}
.warning-button, .warning-button:active, .warning-button:hover, .warning-button:focus {
    background: #ffc53d;
    color: white
}
.purple-button, .purple-button:active, .purple-button:hover, .purple-button:focus {
    background: #9679dc;
    color: white;
}
.header {
    margin-bottom: 15px;
}
.favorite {
    color: #ffc53d;
}