.card-dashboard > div {
  padding: 0 !important;
}

.card-title {
  color: #848484;
  margin-bottom: 0px !important;
  font-size: 38px;
}

.card-header {
  padding: 20px;
}

.card-icon {
  font-size: 30px;
  margin-left: 10px;

  svg {
    margin-bottom: 20px;
  }
}

.card-dashboard-active {
  height: 194px;
  position: relative;

  h1 {
    font-size: 68px !important;
  }

  span {
    text-align: center;
    display: block;
  }
}

.card-dashboard-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-header-right {
  padding: 20px;
  text-align: right;
}

.card-dashboard-custom{
  height: 110px;
  position: relative;

  h1{
    font-size: 40px !important;
    text-align: center;
  }

  span {
    text-align: center;
    display: block;
  }
}
