.card-dashboard > div {
  padding: 0 !important;
}

.card-title {
  color: #848484;
  margin-bottom: 0px !important;
  font-size: 38px;
}

.card-header {
  padding: 20px;
  overflow-wrap: break-word;
}

.card-icon {
  font-size: 30px;
  margin-left: 10px;

  svg {
    margin-bottom: 20px;
  }
}

.card-dashboard-active {
  min-height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 68px !important;
  }

  span {
    text-align: center;
    display: block;
  }
}

.card-dashboard-content {
  width: 100%;
  word-break: break-all;
}

.card-header-right {
  padding: 20px;
  text-align: right;
  overflow-wrap: break-word;
}

.card-dashboard-custom {
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px !important;
    text-align: center;
  }

  span {
    text-align: center;
    display: block;
  }
}

@media (min-width: 768px) {
  .card-title {
    font-size: 2.1vw !important;
  }

  .card-header {
    span {
      font-size: 1vw;
    }
  }

  .card-icon {
    font-size: 1.9vw;
    margin-left: 10px;

    svg {
      margin-bottom: 10px;
    }
  }

  .card-dashboard-active {
    h1 {
      font-size: 3.3vw !important;
    }

    span {
      font-size: 1vw;
    }

    .card-dashboard-custom {
      h1 {
        font-size: 2.1vw !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .card-dashboard-active {
    min-height: 245px;
  }
}
