.form-container {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
}
.login-form {
    margin: 30px;
}

.login-form-forgot {
float: right;
}

.login-form-button {
width: 100%;
}